extends baseEmail

block content    
    p Hi #{firstName},
    p=`Forgot your password? \nSubmit a patch request on this url with newPassword and passwordConfirm: ${url}`
    p (Website for this action is not yet implemented.)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Your password
    p If you didn't click forgot password then please ignore this email.